table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    background-color: #FFCD4A;
    color: #4C5472;
}
tr:nth-child(even) {
    background-color: #ffffff;
}